<h3>Here's your answer!</h3>
<p>This is what you said!
  <br></br>
    <%= @ask %>
  <br></br>
  <br></br>
  This is what I say!
    <br></br>
  <%= @answer %>
</p>

<div class ="askAgain">
<%= link_to "Ask a new question", ask_path %>
</div>
